html{background-color:#2B2929}
#yellow{background-color:#ffcc00;}
#conImage{height:300px;}
#head{
    width:75%;
    min-width: 1160px !important;
    background-color:#989898;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    min-width:500px;
}
.title{
    display: block;
    color: #fff;
    font-size: 28px;
    vertical-align: top;
	text-align:center;
}
#homeContent{
    width:75%;
    background-color:#EA9919;
    margin-left:auto;
    margin-right:auto;
    min-width:500px;
}
#title{
	margin:auto;
	display:inline-block;
	width:100%;
	text-align:center;
	position:relative;
	bottom:80px;
    font-size: 26px;
}
#title span{
    font-size: 36px;
}
#tagline{
    display: inline-block;
    position: relative;
    top: -80px;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.tabs {
	list-style: none;
	padding:0;
	margin:0;
	position: relative;
	top:10px;
	left:30%;
	width:200px;
}
.tab {
	display: inline-block;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
	background-color:#EA9919;
}
nav ul{
list-style: none;
float:left;
margin-left:20px;
margin-top:35px;
}
nav{display:inline-block;}
.logo{
	float:left;
	height:80%;
	padding:10px;
	margin-left:15px;
}

nav li{
display: inline;
position:relative;
z-index:10;
}
nav li a{
padding:0px;
margin:0px;
text-decoration:none;
font-size:15px;
color:#FFFFFF;
}
.breadcrumbs{
position:relative;
left:300px;
list-style: none;
color:white;
width:500px;
}
.crumbs{

}
.onecrumb{
display: inline;
list-style-type: none;
}
.crumb{
color:#FFFFFF;
text-decoration:none;
font-size:20px;
}
nav li a:visited{
    color:#FFFFFF;
}
nav li a:hover {
    color:#ea9919;
}
li a {
	padding: 0 1em;
}

.loginForm{
    height:100%;
}
.formInfo{
    display:block;
    padding: 30px;
}
.formLabel{
	font-size:30px;
    display: inline-block;
    margin: 0px;
    float:left;
    margin-left:30px;
}
.input{
    margin: 0px;
    width:40%;
    height:30px;
}
input{
    margin-top:33px; 
    margin-left:30px;
}
.submit{
    display: block;
    float: right;
    position:relative;
    right: 20px;
    height:30px;
    width:80px
}

.bottomRounded{
    border-radius: 0px 0px 5px 5px;
}
.topRounded{
    border-radius: 5px 5px 0px 0px;
}

#content {
	background-color:#FFCC00;
	position: relative;
	top:9px;
	left:30.05%;
	width:40%;
	height:300px;
}
#selected {
	padding-bottom: 1px; 
	background: #FFCC00;
}

.inactive{
    background: #2B2929;
    color: #D8CFC6;
}

ul{
    list-style: none;
    padding: 0px;
    text-align: left;
}
.clickable{
    cursor: pointer;
    font-size: 24px;
}
.clickable:hover{
    color:#D6E03E;
}
.course {
    cursor:pointer;
    font-size:24px;
}
.course:hover {
    color:#D24D3B;   
}
.content{
    max-width: 70%;
    padding: 20px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 1100px;
}

.rounded{
    border-radius: 5px;
}

